<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все Кандидаты</title>
</head>
<body>

{% if not request.user.is_authenticated %}
<a href="/login"> Авторизоваться? </a>
<h3> или </h3>
<a href="/register"> Создать аккаунт? </a>
{% else %}
<h3> Вы вошли под именем {{request.user.username}}</h3>
<a href="/account"> Посмотреть данные</a> |
<a href="/logout"> Выйти из профиля?</a>
{% endif %}


<h1> Список Кандидатов
</h1>
<hr>
{% for user in candidates %}
<h2> {{user.name}} </h2>
<h2>{{user.lastname}} {{user.surname}} </h2>
<p> Скиллы: {% for tag in user.skill.all %}
    {{ tag.name }},
    {% endfor %}</p>
<hr>
{% endfor %}


</body>
</html>